Tests: unittest
Depends: bdebstrap,
         black,
         isort,
         mypy,
         pylint (>= 2.2.2-2~) | pylint3,
         python3-flake8,
         python3-typeshed,
         shellcheck
Restrictions: allow-stderr

Test-Command: ./system-testing bdebstrap
Depends: debian-archive-keyring,
         diffoscope-minimal,
         distro-info-data,
         dpkg-dev,
         squashfs-tools-ng,
         ubuntu-keyring,
         @
Restrictions: needs-root, allow-stderr
Features: test-name=system-testing
